<%- include ('partials/header.ejs') %>

<div class="bg-head">
    <div class="nave-textartist">

    </div>
</div>

<div class="container bg-content">
    <div class="etcbar">
        <button></button>
        <div class="following button"></div>
        <!-- หัวใจ -->
    </div>
</div>

<div class="container">
    <h3>Popular</h3>
    <div>
        
    </div>
</div>

<%- include ('partials/footer.ejs') %>