<%- include ('partials/header.ejs') %>
    <h1 class="head-edit">Add New Songs</h1>
    <div class="container">
        <form action="/songs/new" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label">Song name</label>
                <input type="text" class="form-control" name="newsongname" placeholder="Song name">
            </div>

            <label for="exampleDataList" class="form-label">Artist name</label>
            <input class="form-control" list="datalistOptions" name="newsongartist" id="exampleDataList"
                placeholder="Type to search...">
            <datalist id="datalistOptions">
                <% artistih.forEach(function(artistih){ %>
                    <option value="<%= artistih.artistname%>">
                        <% }); %>
            </datalist>

            <div class="mb-3">
                <label class="form-label">Description</label>
                <input type="text" class="form-control" name="newsongdescriptsong" placeholder="Description">
            </div>

            <div class="mb-3">
                <label class="form-label">Lyrics</label>
                <textarea class="form-control" name="newsonglyrics" rows="3"></textarea>
            </div>

            <div class="mb-3">
                <label for="formFile" class="form-label">Picture song</label>
                <input class="form-control" name="image" type="file" id="formFile" accept="'image/*">
            </div>

            <div class="mb-3">
                <label for="formFile" class="form-label">File mp3</label>
                <input class="form-control" name="mp3" type="file" id="formFile" accept="'audio/mp3">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
            <a type="back" class="btn" href="/">Home</a>
        </form>
    </div>

    <div class="navigation">
        <ul class="nav">
            <li class="list active">
                <a href="/songs/new">
                    <span class="icon">
                        <ion-icon name="musical-notes"></ion-icon>
                    </span>
                    <span class="title">Add song</span>
                </a>
            </li>
            <li class="list">
                <a href="/artist/new">
                    <span class="icon">
                        <ion-icon name="person-add"></ion-icon>
                    </span>
                    <span class="title">Add Artist</span>
                </a>
            </li>
            <li class="list">
                <a href="/songs/edit">
                    <span class="icon">
                        <ion-icon name="settings"></ion-icon>
                    </span>
                    <span class="title">Edit</span>
                </a>
            </li>
        </ul>
    </div>

    <%- include ('partials/footeronly.ejs') %>