/* sidebar menu */
.navigation {
    top: 0;
    z-index: 100;
    position: fixed;
    height: 1000px;
    width: 250px;
    background: #202020;
    box-shadow: 10px 0 0 #7285A5;
    border-left: 10px solid #202020;
    overflow-x: hidden;
    font-family: 'Dancing Script', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Quicksand', sans-serif;
}

/* scrollcar track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #202020;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #202020;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

.favbtn {
    border: 0;
    background-color: rgba(0, 0, 0, 0);
}

.nav {
    margin-top: 80px;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 40px;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 100%;
    border-radius: 20px 0 0 20px;
}

.navigation ul li.active {
    background: #7285A5;
}

.navigation ul li.active a::before {
    content: '';
    position: absolute;
    top: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 15px 15px 0px #7285A5;
}

.navigation ul li.active a::after {
    content: '';
    position: absolute;
    bottom: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 15px -15px 0px #7285A5;
}

.navigation ul li a {
    position: relative;
    display: flex;
    text-decoration: none;
    width: 100%;
    color: #fff;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.navigation ul li a .icon ion-icon {
    position: relative;
    font-size: 1.5em;
    z-index: 1;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}

body {
    height: 200vh;
    background-color: #7285A5;
    /* background: radial-gradient(circle at 94.02% 88.03%, #54a4ff, transparent 100%), radial-gradient(circle at 25.99% 27.79%, #ff94fb, transparent 100%), radial-gradient(circle at 50% 50%, #000, #000 100%); */
    /* font-family: 'Roboto', sans-serif; */
}

.bg-content {
    background-color: rgba(0, 0, 0, .3);
    padding: 30px;
    padding-top: 10px;
    margin-left: 275px;
}

.box-content {
    background-color: rgba(0, 0, 0, .3);
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 2%;
}

.box-content:hover {
    background-color: rgba(64, 63, 63, 0.3);
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 2%;
}

@keyframes hover-box-content {}

.home-music {
    margin-bottom: 100px;
}

.nav-topbar {
    box-shadow: 0px 5px 15px rgba(64, 59, 59, 0.703);
    width: 100%;
    z-index: 150;
    margin: 0;
    margin-left: 250px;
    padding: 30px;
    position: fixed;
    top: 0;
    background-color: #202020;
}

/* button login and register */
.box {
    position: fixed;
    right: 15px;
    top: 10px;
}

.profile-bg {
    padding: 5px;
    background-color: white;
    border-radius: 50px;
    display: inline-block;
}

.button--moema {
    border: 0;
    padding: 0.5em 1.5em;
    border-radius: 50px;
    background: #7986cb;
    color: #fff;
    -webkit-transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s;
}

.button--moema.button--inverted {
    background: #ECEFF1;
    color: #37474f;
}

.button--moema::before {
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    bottom: -20px;
    right: -20px;
    background: inherit;
    border-radius: 50px;
    z-index: -1;
    opacity: 0.4;
    -webkit-transform: scale3d(0.8, 0.5, 1);
    transform: scale3d(0.8, 0.5, 1);
}

.button--moema:hover {
    -webkit-transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
    transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
    color: #ECEFF1;
    background-color: #7986cb;
    -webkit-animation: anim-moema-1 0.3s forwards;
    animation: anim-moema-1 0.3s forwards;
}

.button--moema.button--inverted:hover {
    color: #ECEFF1;
    background-color: #7986cb;
}

.button--moema:hover::before {
    -webkit-animation: anim-moema-2 0.3s 0.3s forwards;
    animation: anim-moema-2 0.3s 0.3s forwards;
}

@-webkit-keyframes anim-moema-1 {
    60% {
        -webkit-transform: scale3d(0.8, 0.8, 1);
        transform: scale3d(0.8, 0.8, 1);
    }

    85% {
        -webkit-transform: scale3d(1.1, 1.1, 1);
        transform: scale3d(1.1, 1.1, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes anim-moema-1 {
    60% {
        -webkit-transform: scale3d(0.8, 0.8, 1);
        transform: scale3d(0.8, 0.8, 1);
    }

    85% {
        -webkit-transform: scale3d(1.1, 1.1, 1);
        transform: scale3d(1.1, 1.1, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@-webkit-keyframes anim-moema-2 {
    to {
        opacity: 0;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes anim-moema-2 {
    to {
        opacity: 0;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.wrapper h1, .title-head{
    margin-top: 6rem;
    margin-bottom: 10px;
    font-family: 'Roboto';
    margin-left: 20rem;
    text-align: left;
    color: white;
    font-weight: bold;
    font-size: 3rem;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, .3);
    text-transform: uppercase;
    letter-spacing: 5px;
}

.Artist-head{
    font-family: 'Roboto';
    text-align: left;
    font-size: 3rem;
    color: white;
    font-weight: bold;
    margin-left: 20rem;
    margin-top: 20px;
    margin-bottom: 20px;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, .3);
    text-transform: uppercase;
    letter-spacing: 5px;
}

.box-head {
    margin-bottom: 20px;
}

.fw-light {
    font-size: 2.5rem;
    color: white;
    font-family: 'Roboto';
    text-align: left;
    font-weight: 400!important;
}

.landing-img {
    object-fit: cover;
    /* height: 200px;
    width: 200px; */
}

.card,
.landing-img {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    border-radius: 2%;
}

.card-body {
    content: "";
}

/* .bookkie {
    width: 100px;
    height: 100px;
} */

.heartfav {
    position: absolute;
    display: inline-block;
    height: 30px;
    width: 30px;
    right: 15px;
    bottom: 15px;
}

.heartfav:hover::before {
    transform: scale(1.1);
    /* box-shadow: 0 0 15px #2461dd; */
}

.heartfav:hover {
    color: skyblue;
    text-shadow: 0 0 5px #2461dd;
}

.heartcolor {
    color: rgb(55, 118, 156);
}

.Sname,
.Aname {
    font-size: 1.45rem;
    font-family: 'Akshar', sans-serif;
    position: absolute;
    white-space: nowrap;
    width: inherit;
    text-overflow: ellipsis;
}

.Sname {
    font-weight: 400;
    left: 5px;
    bottom: 40px;
    color: white;
}

.Aname {
    color: rgb(176, 174, 174);
    font-weight: lighter;
    font-size: 1.25rem;
    left: 5px;
    bottom: 10px;
}

.btn-play {
    position: absolute;
    right: 10px;
    bottom: 90px;
    cursor: pointer;
    width: 40px;
    height: px;
    border-radius: 50%;
}

.circle {
    width: 40px;
    height: 40px;
    border: 1px solid grey;
    border-radius: 50%;
}

.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12.5px 0 12.5px 21.7px;
    border-color: transparent transparent transparent grey;
    margin-left: 12.5px;
    margin-top: 7px;
}

.detailsong {
    text-align: center;
}

/* music control */
.music-player {
    font-weight: 600;
    z-index: 150;
    --primary-color: #ddd;
    --secondary-color: #999;
    --green-color: #2d5;
    --padding: 1em;
    background-color: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 7rem;
    bottom: 0;
    /* padding: var(--padding); */
    color: var(--primary-color);
}

i {
    color: var(--secondary-color);
}

i:hover {
    color: var(--primary-color);
}

.song-bar {
    position: absolute;
    left: var(--padding);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
    width: 25%;
}

.song-infos {
    display: flex;
    align-items: center;
    gap: 1em;
}

.image-container {
    --size: 4.5em;
    flex-shrink: 0;
    width: var(--size);
    height: var(--size);
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.song-description p {
    margin: 0.2em;
}

.title,
.artist {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.title:hover,
.artist:hover {
    text-decoration: underline;
}

.artist {
    color: var(--secondary-color);
}

.icons {
    display: flex;
    gap: 1em;
}

.progress-controller {
    padding-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    color: var(--secondary-color);
}

.control-buttons {
    display: flex;
    align-items: center;
    gap: 2em;
}

.play-pause {
    display: inline-block;
    padding: 1em;
    background-color: var(--primary-color);
    color: #111;
    border-radius: 50%;
}

.play-pause:hover {
    transform: scale(1.1);
    color: #111;
}

.progress-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.progress-bar {
    height: 4px;
    border-radius: 10px;
    width: 30%;
    background-color: #ccc4;
}

.progress {
    position: relative;
    height: 100%;
    width: 30%;
    border-radius: 10px;
    background-color: var(--secondary-color);
}

.progress-bar:hover .progress {
    background-color: lightskyblue;
}

.progress-bar:hover .progress::after {
    content: "";
    position: absolute;
    --size: 1em;
    width: var(--size);
    height: var(--size);
    right: 0;
    border-radius: 50%;
    background-color: var(--primary-color);
    transform: translate(50%, calc(2px - 50%));
}

.other-features {
    position: absolute;
    right: var(--padding);
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.volume-bar {
    display: flex;
    align-items: center;
    gap: .7em;
}

.volume-bar .progress-bar {
    width: 6em;
}

.volume-bar .progress-bar:hover .progress::after {
    --size: .8em;
}

/* search box */

.search-form {
    position: fixed;
    top: 10px;
    left: 270px;
    z-index: 151;
    outline: 0;
    float: left;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.search-form>.textbox {
    outline: 0;
    height: 42px;
    width: 244px;
    line-height: 42px;
    padding: 0 16px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #212121;
    border: 0;
    float: left;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 20px 0 0 20px;
}

.search-form>.textbox:focus {
    outline: 0;
    background-color: #FFF;
}

.search-form>.button {
    outline: 0;
    background: none;
    background-color: rgba(38, 50, 56, 0.8);
    float: left;
    height: 42px;
    width: 42px;
    text-align: center;
    line-height: 42px;
    border: 0;
    color: #FFF;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 16px;
    text-rendering: auto;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition: background-color .4s ease;
    transition: background-color .4s ease;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 20px 20px 0;
}

.search-form>.button:hover {
    background-color: rgba(132, 100, 207, 0.8);
}

/* detailsong */
.container-de {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: 100;
    padding-top: 20px;
    padding-bottom: 110px;
    margin-top: 6rem;
    margin-left: 350px;
    margin-right: 10px;
    margin-bottom: 350px;
}

.all-bg {
    display: flex;
    z-index: 10;
    background-color: rgba(46, 43, 43, 0.5);
    width: 80vw;
}

.dename,
.artdename {
    color: #F48D14;
    font-weight: 900;
}

.artdename {
    font-weight: 300;
    font-size: 2rem;
}

.name-artsongde {
    position: relative;
    top: 270px;
}

.image-pf {
    position: absolute;
    border-radius: 50%;
    top: 80px;
    left: 280px;
    z-index: 50;
    width: 300px;
    height: 300px;
}

.detailnolyrics {
    padding: 15px;
    flex: 30%;
    box-shadow: 5px 10px 8px #000000;
}

.bg-lyrics {
    height: 100vh;
    overflow-y: auto;
    padding: 15px;
    flex: 70%;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5970763305322129) 0%, rgba(8, 8, 101, 0.4990371148459384) 70%);

}

.text-lyrics {
    font-weight: 300;
    white-space: pre-line;
    font-size: 2rem;
    color: white;
    text-align: center;
    text-shadow: 2px 5px 2px rgb(64, 57, 57);
}

/* Edit menu */
.show_soung_canedit {
    margin-top: 5rem;
    margin-left: 330px;
    margin-right: 50px;
    margin-bottom: 100px;
}

.image_in_edit {
    display: inline;
    width: 50px;
    height: 50px;
}

.all_edit_de {
    display: inline;
}

.title_in_edit {
    font-family: 'Roboto', sans-serif;
}

.name_artist_edit {
    margin-left: 10px;
}

.name_in_edit {
    font-size: 1.25rem;
    font-weight: 600;
}

.modal-content {
    color: #000000;
}

.show_soung_canedit {
    margin-top: 30px;
}

.head-edit {
    margin-left: 350px;
    margin-top: 80px;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 3rem;
    color: #F48D14;
    text-shadow: 1px 1px 2px pink;
}

.play-button-music {
    display: flex;
    align-items: center;
    justify-content: center;
}
.play-button-music:before {
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, .6);
}
.block {
    display: flex;
    justify-content: center;
}
.player-btn {
    position: absolute;
    right: 15px;
    bottom: 90px;
}
.player-btn > * {
    pointer-events: none;
}
.player-btn-particles {
    width: 50px;
    height: 50px;
    background: #376edc;
    filter: url(#fancy-goo);
}
.player-btn-particle {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #376edc;
}
.player-btn-particle--second {
    right: 0;
}
.player-btn-particle--third {
    right: 0;
    bottom: 0;
}
.player-btn-particle--fourth {
    bottom: 0;
}
.player-btn-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25px;
}
.player-btn .svg-play {
    stroke: #fff;
    stroke-width: 20;
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    stroke-linejoin: round;
    stroke-linecap: round;
}
.player-btn .svg-play.to-pause {
    animation: to-pause 1s ease-in-out forwards;
}
.player-btn .svg-play.to-play {
    animation: to-play 1s ease-in-out forwards;
}
.player-btn.active .player-btn-particles {
    animation: 3s rotation linear infinite;
}
.player-btn.active .player-btn-particle {
    will-change: transform;
    border-radius: 50%;
}
.player-btn.active .player-btn-particle--one {
    animation: particle-1 2s ease-in-out infinite;
}
.player-btn.active .player-btn-particle--second {
    animation: particle-2 2s 1s ease-in-out infinite;
}
.player-btn.active .player-btn-particle--third {
    animation: particle-3 2s 1.5s ease-in-out infinite;
}
.player-btn.active .player-btn-particle--fourth {
    animation: particle-4 2s 2s ease-in-out infinite;
}
.svg-hidden {
    position: absolute;
    height: 0;
    width: 0;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
   }
    50% {
        background: #0af;
   }
    100% {
        transform: rotate(360deg);
   }
}
@keyframes particle-1 {
    50% {
        transform: translate(-6px, 15px);
        background: #0af;
   }
}
@keyframes particle-2 {
    50% {
        transform: translate(-12px, -9px);
        background: #0af;
   }
}
@keyframes particle-3 {
    50% {
        transform: translate(10px, -25px);
        background: #0af;
   }
}
@keyframes particle-4 {
    50% {
        transform: translate(0px, 10px);
        background: #0af;
   }
}
@keyframes to-play {
    0% {
        stroke-width: 40;
        d: path("M50 20 V160 M140 20 V160");
   }
    50% {
        stroke-dashoffset: 1000;
   }
    100% {
        stroke-width: 20;
        d: path("M90 50 L30 15 L30 160 L170 100 L130 75");
        stroke-dashoffset: 0;
   }
}
@keyframes to-pause {
    0% {
        stroke-dashoffset: 0;
        d: path("M90 50 L30 15 L30 160 L170 100 L130 75");
   }
    50% {
        stroke-dashoffset: 1000;
   }
    100% {
        stroke-width: 40;
        d: path("M50 20 V160 M140 20 V160");
        stroke-dashoffset: 0;
   }
}